* {
  /* outline: 1px solid #f73; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #00FFA3;

  --color-lightGray: #D1D1D1;
  --color-nightSky: #15161D;
  --color-icon: #1C1B1F;

  --bd-style: 1px solid #E3E3E3;
  --bg-linear: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);

  --txt-2xl: 128px;
  --txt-xl: 64px;
  --txt-lg: 40px;
  --txt-base: 32px;
  --txt-sm: 24px;
  --txt-xs: 20px;
  --txt-2xs: 16px;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--color-nightSky);
}

::-webkit-scrollbar-thumb {
  border: 1px solid slategrey;
  background-color: var(--color-primary);
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--color-nightSky);
  background: var(--color-primary);
}

::selection {
  color: var(--color-nightSky);
  background: var(--color-primary);
}

html,
body {
  font-family: 'Bruno Ace SC', 'Bruno Ace', cursive, 'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: var(--txt-base);
  line-height: 1.5;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: contain;
}

a, img {
  transition: linear .4s;
}

img:hover,
a:hover {
  opacity: 0.9;
}

.material-symbols-outlined {
  font-size: inherit;
  color: inherit;
  vertical-align: middle;
}


.w-half {
  width: 50%;
}

.w-two-fifth {
  width: 40%;
}


.p-4 {
  padding: 16px;
}

.py-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-10 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-18 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-40 {
  padding-top: 160px;
  padding-bottom: 160px;
}

.px-6 {
  padding-left: 24px;
  padding-right: 24px;
}

.pt-10 {
  padding-top: 40px;
}


.ml-1 {
  margin-left: 4px;
}

.ml-2 {
  margin-left: 8px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-8 {
  margin-bottom: 32px;
}

.mb-9 {
  margin-bottom: 36px;
}

.mt-auto {
  margin-top: auto;
}

.gap-4 {
  gap: 16px;
}

.gap-5 {
  gap: 20px;
}

.gap-6 {
  gap: 24px;
}


.theme-black {
  color: white;
  background: black;
}

.theme-white {
  color: black;
  background: white;
}

.text-primary {
  color: var(--color-primary);
}

.text-lightGray {
  color: var(--color-lightGray);
}

.text-nightSky {
  color: var(--color-nightSky);
}

.border-radius-8 {
  border-radius: 32px;
}


.font-2xl {
  font-size: var(--txt-2xl);
}

.font-xl {
  font-size: var(--txt-xl);
}

.font-sm {
  font-size: var(--txt-sm);
}

.font-xs {
  font-size: var(--txt-xs);
}

.font-2xs {
  font-size: var(--txt-2xs);
}

/* end of base */

.w-fit {
  width: fit-content;
}

.h-full {
  height: 100%;
}


.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}


.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* end of utility */

.nav {
  height: 88px;
}

.hero, .hero-img {
  height: calc(100vh - 88px);
}

.nav-list {
  gap: 61px;

  >li:hover {
    filter: drop-shadow(16px 8px 4px var(--color-primary));
  }
}

.nav-list>li:hover, .footer a:hover {
  color: var(--color-primary);
}

.btn-contact:hover {
  background: var(--color-primary);
  box-shadow: -2px -2px 2px 1px var(--color-primary);
  filter: drop-shadow(2px 2px 2px var(--color-primary));
}

/* end of header */

.intro {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/background-img.png);
}

.intro-pic, .project-title {
  width: 57%;
}

.sparkle, .photographer {
  /* width: 196px; */
  width: calc(196 / 746 * 100%);
  /* QQ */
  /* height: 100%; */
}

/* end of intro */

.about>.container {
  gap: 134px;
}

.about-card-list, .about-card-list-item {
  width: 48%;
}

.about-card-list-item {
  border: var(--bd-style);
}

.about-card-list>li:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* end of about */

.contact {
  background: var(--bg-linear);

  >.container {
    padding-top: 129px;
    padding-bottom: 129px;

    gap: 113px;
  }
}

.sns-icon-list-item {
  & img {
    width: 162px;
    height: 162px;

    border-radius: 40px;
  }

  & :hover {
    box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.90), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

/* end of contact */

.btn-more-info:hover {
  color: var(--color-primary);
  transform: scale(1.02);
}

/* .btn-more-info {
  margin-top: 76px;
} */

/* end of project */


.contact-txt .material-symbols-outlined {
  animation: shake 0.9s infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(5px);
  }

  40% {
    transform: translateX(-5px);
  }

  60% {
    transform: translateX(4px);
  }

  80% {
    transform: translateX(-4px);
  }

  100% {
    transform: translateX(0);
  }
}

.btn>.material-symbols-outlined {
  animation: bounceRight 0.8s infinite;
}

@keyframes bounceRight {
  0% {
    transform: translateY(0) translateX(0);
  }

  50% {
    transform: translateY(-2px) translateX(2px);
  }

  100% {
    transform: translateY(0) translateX(0);
  }
}

/* end of animation */